<h3>
  About us
</h3>
<div class="row">
    <div class="col-md-4">
      <p>
        We connect undergraduate students to opportunities to enhance their careers by curating events, competitions, and other opportunities that are value adding for them.
      </p>
    </div>

    <div class="col-md-4">
      <p>
        We were once a group of students who loved attending career-building events such as competitions and workshops. Finding events was hard - we would scour the web for opportunities only to come up blank. All the ones we attended were just from word of mouth.
      </p>
    </div>
    <div class="col-md-4">
      <p>
        To solve this problem and make college career events easier to find, we built College Plus. College Plus curates all the college events you can think of on one webpage so that you can have the resources you need to maximize your college experience.
      </p>
  </div>
</div>