<div class="panel-default panel">
  <form action="/home" method="post" accept-charset="UTF-8">
    <input type="text" name="email" placeholder="What's your email?" />
    <input type="submit" class="btn btn-primary" value="Subscribe" />
  </form>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#">
        <%= image_tag("event-image.jpg",size: "200x100", style: "width: 100%") %>
        <div class="caption">
          <h3>Title</h3>
          <p>Description</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#">
        <%= image_tag("event-image.jpg",size: "200x100", style: "width: 100%") %>
        <div class="caption">
          <h3>Title</h3>
          <p>Description</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="#">
        <%= image_tag("event-image.jpg",size: "200x100", style: "width: 100%") %>
        <div class="caption">
          <h3>Title</h3>
          <p>January 10,</p>
          <p>Description</p>
        </div>
      </a>
    </div>
  </div>
</div>