<div class="panel-default panel">
  <form action="/subscribe" method="post">
    <input type="text" name="email" placeholder="What's your email?" />
    <input type="submit" class="btn btn-primary" value="Subscribe" />
  </form>
</div>