<div class="row">
  <div class="col-md-6">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("caro1.png",height: "50") %>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <%= image_tag("caro2.png",height: "50") %>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <%= image_tag("caro3.png",height: "50")%>
          <div class="carousel-caption">
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div> <!-- Carousel -->
  </div>
  <div class="col-md-6">
    <blockquote>
      <p>
        Linking ambitious students to career-enhancing events
      </p>
      <i>
        Keith Lim
      </i>
    </blockquote>
    <blockquote>
      <p>
        Giving You the Plus Factor
      </p>
      <i>
        Cedrick Rances
      </i>
    </blockquote>
    <p>Subscribe</p>
    <form action="/home" method="post" accept-charset="UTF-8">
      <input type="text" name="email" placeholder="What's your email?" />
      <input type="submit" class="btn btn-primary" value="Subscribe" />
    </form>
  </div>
</div>