
<div class="row">

  <%= form_for(@subscription) do |f| %>

    <div class="col-md-9 input-group">
      <%= f.text_field :email, class: "form-control", type: "email", placeholder: "What's your email?" %>

      <span class="input-group-btn">
        <%= f.submit nil, class: "btn btn-success" %>
      </span>

    </div>



  <% end %>
  </div>